@using NovoePokolenie.Helpers
@model List<NPUser>

@inject Microsoft.AspNetCore.Identity.UserManager<NPUser> _userManager
@inject NovoePokolenie.Services.GroupService _groupService
@inject NovoePokolenie.Services.BranchService _branchService

@{
    Layout = ViewBag.useLayout ? "~/Views/Shared/_Layout.cshtml" : null;
    var groups = await _groupService.GetGroupsAsync();

    List<SelectListItem> groupListItems = new List<SelectListItem>();
    foreach(Group group in groups)
    {
        string text = (await _branchService.GetBranchByIdAsync(group.BranchId)).Name + " " + NovoePokolenie.Helpers.StHel.TimeTableToShortString(group.TimeTable);
        text = text.Replace("ТЕСТ", "*");
        groupListItems.Add(new SelectListItem(text, group.Id.ToString()));
    }

    int i = 0;
}
<style>
    table * {
        font-size: 1rem !important;
    }

    a {
        text-decoration: none;
    }

    select {
        border: none !important;
    }
</style>
<div class="container table-container">
    <table class="list-table table table_bordered">
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Логин</th>
            <th>Номер</th>
            <th>Группа</th>
            <th>Оплата</th>
        </tr>
        @{
            if (Model.Count == 0)
            {
                <tr>
                    <td colspan="5">Совпадений не найдено</td>
                </tr>
            }
            foreach (NPUser user in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>
                        @{
                            if (user.StatusId == (int)ActivityStatus.Archive)
                            {
                                <a asp-fragment="@user.Id" asp-action="Archive" asp-controller="Student" title="Перейти в архив">
                                    @user.FirstName @user.Lastname (архив)
                                </a>
                            }
                            else
                            {
                                if(user.GroupId == null)
                                {
                                    <span>!!! @user.FirstName @user.Lastname</span>
                                }
                                else
                                {
                                    <a href="@Url.Action("Edit", "Group", new { id = user.GroupId })"
                                       data-ajax="false"
                                       data-ajax-mode="replace"
                                       data-ajax-update="#student_card"
                                       data-ajax-success="$('#studentCard').css('display','block')"
                                       title="В группу">
                                        @user.FirstName @user.Lastname
                                    </a>
                                    <a asp-action="StudentPaymentCard" asp-controller="Payment" asp-route-studentId="@user.Id">
                                        <i class="fas fa-file-invoice"></i>
                                    </a>
                                }
                            }
                        }

                    </td>
                    <td>@user.UserName</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <form asp-action="UnblockUser" asp-controller="Student" data-ajax="true">
                            <input type="hidden" name="studentId" value="@user.Id" />
                            @if(user.StatusId == (int)ActivityStatus.Active && user.GroupId != null)
                            {
                                groupListItems.First(option => option.Selected).Selected = false;
                                groupListItems.First(option => option.Value == user.GroupId.ToString()).Selected = true;
                            }
                            else
                            {
                                groupListItems[0].Selected = true;
                            }
                            <select name="groupId" asp-items="@groupListItems" class="form_control" data-name="@(user.FirstName+" "+user.Lastname)"></select>
                        </form>
                    </td>
                    <td>
                        @user.PaymentCharge
                    </td>
                </tr>
            }
        }
    </table>
</div>
<div id="student_card"></div>

<script>
    $('select').on('change', (event) => {
        let submit_button = $(event.currentTarget).parent();
        let message = 'Переместить пользователя ' + $(event.currentTarget).attr('data-name') + "?";
        if (confirm(message)) {
            $(submit_button).submit();
        }
    });
</script>