@{ 
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@model List<Branch>
<style>
    .context_menu{
        z-index: 999 !important;
    }
</style>
<div class="box">
    <a asp-action="Create" class="add_icon">
        <i class="far fa-plus-square"></i>
        <span>Добавить филиал</span>
    </a>
    <ul class="branch_container flex_evenly">
        @foreach (var branch in Model)
        {
            <li class="branch_container__item">
                <a href="@Url.Action("GroupBranchDetiles", "Branch", new { BranchId = branch.Id })"
                   data-ajax="true"
                   data-ajax-mode="replace"
                   data-ajax-update="#groups"
                   class="branch_name">@branch.Name</a>
                <span class="context_menu__label"><i class="fas fa-cogs"></i></span>
                <ul class="context_menu hidden">
                    <li class="context_menu__item"><a asp-action="Create" asp-controller="Group" asp-route-branchId="@branch.Id">Создать</a></li>
                    <li class="context_menu__item"><a asp-action="Detail" asp-controller="Branch" asp-route-BranchId="@branch.Id">Детали</a></li>
                    <li class="context_menu__item"><a asp-action="Edit" asp-controller="Branch" asp-route-id="@branch.Id">Изменить</a></li>
                    <li class="context_menu__item"><a asp-action="EditGroups" asp-controller="Branch" asp-route-id="@branch.Id">Группы</a></li>
                </ul>
            </li>
        }
    </ul>
    <div id="groups"></div>
    <script>
        $('.context_menu__label').on('click', event=>{
            let target = event.currentTarget;
            if($(target).next().hasClass('hidden')){
                $('.context_menu').addClass('hidden');
                $(target).next().removeClass('hidden');
            }
            else{
                $('.context_menu').addClass('hidden');
            }
        });
    </script>
</div>
