@using NovoePokolenie.Helpers;
@inject NovoePokolenie.Services.BranchService _branchService;

@model List<NPUser>
@{
    long GetDebt(NPUser student)
    {
        long totalSum = 0;
        long payed = 0;
        foreach (PaymentPeriod period in student.PaymentPeriods)
        {
            totalSum += period.MustTotal;
            foreach (Payment payment in period.Payments)
            {
                payed += payment.PaymentAmount;
            }
        }
        return -(payed - totalSum);
    }
    var branches = await _branchService.GetBranchesAsync();
}

<ul class="flex-ul menu-list fj-sb fs-second">
    @foreach (var branch in branches)
    {
        <li>
            @Html.ActionLink(branch.Name, "SortedIndex", "Payment", new StFilter(FilterOption.Branch, branch.Id), new {@class = "link"})
        </li>
    }
</ul>

@{
    <table class="table table_bordered list-table centered">
        <tr>
            <th>№</th>
            <th class="pointer">
                <span id="sort_firstname">Имя</span>
                /
                <span id="sort_lastname">Фамилия</span>
            </th>
            <th>
                Телефон
            </th>
            <th>
                Оплата
            </th>
            <th class="pointer">
                <span id="sort_debt">Долг</span>
            </th>
            <th class="pointer">
                <span id="sort_date">Дата</span>
            </th>
        </tr>
        @foreach (NPUser student in Model)
        {
            <tr>
                <td class="table-index"></td>
                <td id="row_name">
                    <a asp-action="StudentPaymentCard" asp-controller="Payment" asp-route-studentId="@student.Id">
                        <span data-name="lastname">@student.Lastname</span>
                        <span data-name="firstname">@student.FirstName</span>
                    </a>
                    <span class="pointer" data-url="@Url.Action("StudentDetail", "Student", new {StudentId = student.Id})" data-action="lesson-detail">
                        (карточка)
                    </span>
                </td>
                <td id="row_number">
                    <span data-name="">@student.PhoneNumber</span>
                </td>
                <td id="row_price">
                    <span data-name="">@student.PaymentCharge</span>
                </td>
                <td id="row_debt">
                    <span data-name="debt">@GetDebt(student)</span>
                </td>
                <td id="row_date">
                    @if (student.PaymentPeriods.Count != 0)
                    {
                        @student.PaymentPeriods.Last().PaymentEnd.ToString(@"dd/MM/yyyy")
                    }
                </td>
            </tr>
        }
    </table>
}

<script>
    let r;
    function sortTableByOption(target, dataName, descending) {
        let table = $(target).parents('table');
        let rows = $(table).find('tr');
        let headers = rows.splice(0, 1);
        descending = descending ? true : false;
        for (let i = 0; i < rows.length; i++) {
            for (let j = 0; j < rows.length - i - 1; j++) {
                let v1 = $(rows[j]).find("[data-name='" + dataName + "']");
                let v2 = $(rows[j + 1]).find("[data-name='" + dataName + "']");
                if (v1.text() < v2.text() && descending) {
                    let tmp = rows[j];
                    rows[j] = rows[j + 1];
                    rows[j + 1] = tmp;
                }
                else if(v1.text() > v2.text() && !descending){
                    let tmp = rows[j];
                    rows[j] = rows[j + 1];
                    rows[j + 1] = tmp;
                }   
            }
        }

        $(table).empty();
        $(table).append(headers);
        $(table).append(rows);

        let indexCells = $('.table-index');
        for(let i = 0; i<indexCells.length; i++)
            $(indexCells[i]).text(i+1)
    }

    $('#sort_firstname').on('click', (event) => {
        sortTableByOption(event.currentTarget, "firstname", false);
    });

    $('#sort_lastname').on('click', (event) => {
        sortTableByOption(event.currentTarget, "lastname", false);
    });

    $('#sort_debt').on('click', (event) => {
        sortTableByOption(event.currentTarget, "debt", true);
    });

    $(window).on("load", ()=>{
        sortTableByOption($('td.table-index'), "debt", true);
    })

    $("[data-action='lesson-detail']").on('click', (event) => {
        let next_url = $(event.currentTarget).attr('data-url');
        $.ajax({
            type: 'GET',
            url: next_url,
            beforeSend: function () {
                $(event.currentTarget).css('cursor', 'wait');
                $("main").css('cursor', 'wait');
            },
            success: function (data) {
                $(event.currentTarget).siblings('.lesson-window').remove();
                let lesson_window = document.createElement('div');
                lesson_window.className = 'lesson-window';
                $(lesson_window).css('left', event.pageX + 'px');
                lesson_window.innerHTML = data;
                $(lesson_window).insertAfter($(event.currentTarget));
                $(event.currentTarget).css('cursor', 'pointer');
                $("main").css('cursor', 'unset');
            }
        });
    });

    $(document).on('click', (event) => {
        let target = event.target;
        let lesson = $('.lesson-window')[0]
        if (!$.contains(lesson, target) && target != lesson)
            $('.lesson-window').remove();
    });
</script>