@model NovoePokolenie.ViewModels.CreateGroupViewModel
@using System.Linq

<div class="form-block">
    <form data-ajax-method="post" asp-controller="Group" asp-action="Edit" asp-route-id="@ViewBag.Id"
    data-ajax="true"
          class="flex flex-acenter flex-evenly centered-container ajax-form">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Day1"></label><br />
            <select asp-for="Day1" class="form-control" asp-items="@NovoePokolenie.Helpers.StHel.DaysOfWeek()">
                <option>День недели</option>
            </select>
            <span asp-validation-for="Day1"></span>
        </div>
        <div>
            <label asp-for="Day2"></label><br />
            <select asp-for="Day2" class="form-control" asp-items="@NovoePokolenie.Helpers.StHel.DaysOfWeek()">
                <option>День недели</option>
            </select>
            <span asp-validation-for="Day2"></span>
        </div>
        <div>
            <label asp-for="Time"></label><br />
            <input asp-for="Time" class="form-control" value="@ViewBag.TimeName" />
            <span asp-validation-for="Time"></span>
        </div>
        <div>
            <label asp-for="MentorId">Преподаватель</label><br />
            <select asp-for="MentorId" class="form-control" asp-items="@(new SelectList(
                from mentor in Model.Mentors
                select new
                {
                    mentor.Id, mentor.FirstName, mentor.Lastname,
                    Name = mentor.FirstName + " " + mentor.Lastname
                }, "Id", "Name", Model.MentorId))"></select>
            <span asp-validation-for="MentorId" id="password_span"></span>
        </div>
        <div>
            <input asp-for="BranchId" value="@Model.BranchId" />
        </div>
    </form>
</div>
<div id="attendance-block"></div>
<a href="@Url.Action("GroupAttendanceNew", "Attendance", new { groupId = ViewBag.Id, date = DateTime.Now, monthly = false, partial=true })"
id="triggerLink"
data-ajax="true"
data-ajax-mode="replace"
data-ajax-update="#attendance-block"> 
</a>

<script>
    $(document).ready(() => {
        $("#triggerLink")[0].click();
    })
    $(".ajax-form input, .ajax-form select").on('change', () => {
        $(".ajax-form").submit();
    })
</script>